---
layout: default
title: Alumnos
---

<h1>Lista de Alumnos</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Nota 1</th>
      <th>Nota 2</th>
      <th>Nota 3</th>
    </tr>
  </thead>
  <tbody>
    {% for alumno in site.data.alumnos %}
      <tr>
        <td>{{ alumno.nombre }}</td>
        <td style="color: {% if alumno.nota1 | to_number < 5 %} red {% else %} black {% endif %};">
          {{ alumno.nota1 }}
        </td>
        <td style="color: {% if alumno.nota2 | to_number < 5 %} red {% else %} black {% endif %};">
          {{ alumno.nota2 }}
        </td>
        <td style="color: {% if alumno.nota3 | to_number < 5 %} red {% else %} black {% endif %};">
          {{ alumno.nota3 }}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table


