<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <style>
        .nota-baja {
            color: red;
        }
    </style>
</head>
<body>
    <h1>Notas de alumno</h1>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Nota 1</th>
                <th>Nota 2</th>
                <th>Nota 3</th>
            </tr>
        </thead>
        <tbody>
            {% for alumno in site.data.listadoalumnos %}
            <tr>
                <td>{{ alumno.nombre }}</td>
                <td class="{% if estudiante.nota1 < 5 %}nota-baja{% endif %}">{{ alumno.nota1 }}</td>
                <td class="{% if estudiante.nota2 < 5 %}nota-baja{% endif %}">{{ alumno.nota2 }}</td>
                <td class="{% if estudiante.nota3 < 5 %}nota-baja{% endif %}">{{ alumno.nota3 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
